extends layout

block content
  header#header
    h1= title
    p Welcome to #{title}

  main#app
    figure#self-video
      video(autoplay="true")
      figcaption
    button#join-call Join Call
    article#videos

  script.
    window.NAMESPACE = "#{namespace}";
